
<div id="deviceDetailPage" class="list-group inset-content-10px">
	<div class="list-group" style="margin-top: 10px;">
		<div class="list-group-item list-header"><h4 class="list-group-item-heading">{{detailDeviceName}}</h4></div>
		<div class="list-group-item">
			<h4 class="list-group-item-heading">Username</h4>
			<span style="color:darkred;">{{device.username}}</span>
		</div>
		<div class="list-group-item">
			<h4 class="list-group-item-heading">Type</h4>
			{{device.type}}
		</div>

		<div class="list-group-item">
			<h4 class="list-group-item-heading">Device ID</h4>
			{{device.deviceId}}
		</div>
		<div class="list-group-item">
			<h4 class="list-group-item-heading">Registration ID</h4>
			{{device.regId}}
		</div>
		<div class="list-group-item">
			<h4 class="list-group-item-heading">Registration Data</h4>
			{{device.postedTimestamp | date:'medium'}}
		</div>
	</div>
	<div class="list-group" style="margin-top: 10px;">
		<div class="form-group pull-right">
			<a class="btn btn-default" ng-click="kmeNavLeft()">Cancel</a>
			<a class="btn btn-default" ng-click="removeDevice()">Remove</a>
			<a class="btn btn-kme" ng-click="sendPush()">Send</a>
		</div>
	</div>
</div>